.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
